body {
    color: white;
    background-color: forestgreen;
    text-align: center;
}


ul{
    text-align: left;
    color: red;
    font-size: x-large;
}

.home-image {
    transform: rotate(32deg);
}


a {
    color: inherit;
    text-decoration: none;
}